* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

header {
  width: 100%;
  height: 6rem;
  border-bottom: 2px solid black;
}
header nav {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav .navbar--logo {
  width: 4rem;
  padding-left: 2rem;
}
header nav .navbar {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}
header nav .navbar .navbar--link {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
header nav .navbar .navbar--link:hover {
  color: rgb(10, 53, 117);
}

.principal {
  width: 100%;
  height: 90vh;
}
.principal .contenedor__inicio {
  padding-top: 5rem;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.principal .contenedor__inicio img {
  width: 30rem;
  -webkit-transition: 1s all;
  transition: 1s all;
  border-radius: 50%;
}
.principal .contenedor__inicio img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.principal .contenedor__inicio .contenedor__botones {
  width: 30rem;
  padding-top: 2rem;
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.principal .contenedor__inicio .contenedor__botones button {
  background-color: rgb(79, 165, 165);
  height: 5rem;
  width: 10rem;
  padding: 0.5rem;
  margin: auto;
  border-radius: 1rem;
  border: none;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.principal .contenedor__inicio .contenedor__botones button:hover {
  cursor: pointer;
  background-color: #01004d;
  color: aliceblue;
}
.principal .contanedor__form {
  width: 100%;
  height: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}
.principal .contanedor__form .formulario__clase {
  margin-top: 5rem;
  background-color: #01004d;
  width: 50rem;
  height: 35rem;
  padding: 5rem;
  border-radius: 1rem;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.principal .contanedor__form .formulario__clase .formulario__clase--contenedor {
  margin-bottom: 5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.principal .contanedor__form .formulario__clase .formulario__clase--contenedor .formulario__clase--label {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 500;
  margin-right: 2rem;
}
.principal .contanedor__form .formulario__clase .formulario__clase--contenedor .formulario__clase--input {
  width: 15rem;
  height: 2rem;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  background-color: #01004d;
  border-bottom: 1px solid white;
  color: white;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.principal .contanedor__form .formulario__clase .formulario__clase--contenedor .formulario__clase--input:focus {
  outline: none;
}
.principal .contanedor__form .formulario__clase .formulario__clase--contBoton {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-top: 3rem;
}
.principal .contanedor__form .formulario__clase .formulario__clase--contBoton button {
  background-color: rgb(79, 165, 165);
  height: 5rem;
  width: 10rem;
  padding: 0.5rem;
  margin: auto;
  border-radius: 1rem;
  border: none;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  color: white;
}
.principal .contanedor__form .formulario__clase .formulario__clase--contBoton button:hover {
  cursor: pointer;
  background-color: #00a6d8;
  color: black;
}
.principal .contenedor__alumno {
  width: 100%;
  height: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}
.principal .contenedor__alumno button {
  background-color: rgb(79, 165, 165);
  height: 5rem;
  width: 10rem;
  padding: 0.5rem;
  border-radius: 1rem;
  border: none;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  color: white;
}
.principal .contenedor__alumno button:hover {
  cursor: pointer;
  background-color: #00a6d8;
  color: black;
}
.principal .contenedor__alumno .formulario__alumno {
  margin-top: 5rem;
  background-color: #01004d;
  width: 50rem;
  height: 35rem;
  padding: 5rem;
  border-radius: 1rem;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.principal .contenedor__alumno .formulario__alumno .contenedor__alumno--div {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.principal .contenedor__alumno .formulario__alumno .contenedor__alumno--div .datos__nombre {
  margin-bottom: 2rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.principal .contenedor__alumno .formulario__alumno .contenedor__alumno--div .datos__nombre label {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0 2rem;
}
.principal .contenedor__alumno .formulario__alumno .contenedor__alumno--div .datos__nombre input {
  width: 15rem;
  height: 2rem;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  background-color: #01004d;
  border-bottom: 1px solid white;
  color: white;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.principal .contenedor__alumno .formulario__alumno .contenedor__alumno--div .datos__nombre input:focus {
  outline: none;
}
.principal .contenedor__alumno .formulario__alumno .contenedor__alumno--div .datos__notas {
  margin-bottom: 5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.principal .contenedor__alumno .formulario__alumno .contenedor__alumno--div .datos__notas div {
  padding: 2rem 0;
}
.principal .contenedor__alumno .formulario__alumno .contenedor__alumno--div .datos__notas div label {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0 2rem;
}
.principal .contenedor__alumno .formulario__alumno .contenedor__alumno--div .datos__notas div input {
  width: 15rem;
  height: 2rem;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  background-color: #01004d;
  border-bottom: 1px solid white;
  color: white;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.principal .contenedor__alumno .formulario__alumno .contenedor__alumno--div .datos__notas div input:focus {
  outline: none;
}
.principal .contenedor__final {
  width: 100%;
  height: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}
.principal .contenedor__final div {
  background-color: #01004d;
  width: 50rem;
  height: 35rem;
  padding: 5rem;
  border-radius: 1rem;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.principal .contenedor__final div button {
  background-color: rgb(79, 165, 165);
  height: 5rem;
  width: 10rem;
  padding: 0.5rem;
  margin: 3rem;
  border-radius: 1rem;
  border: none;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  color: white;
}
.principal .contenedor__final div button:hover {
  cursor: pointer;
  background-color: #00a6d8;
  color: black;
}
.principal .contenedor__editar {
  width: 100%;
  height: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.principal .contenedor__editar div {
  background-color: #01004d;
  width: 50rem;
  height: 35rem;
  padding: 5rem;
  border-radius: 1rem;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.principal .contenedor__editar div h2 {
  color: aliceblue;
  font-size: 3rem;
  padding-bottom: 10rem;
}
.principal .contenedor__editar div form {
  height: auto;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 4rem;
}
.principal .contenedor__editar div form label {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0 2rem;
}
.principal .contenedor__editar div form input {
  width: 15rem;
  height: 2rem;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  background-color: #01004d;
  border-bottom: 1px solid white;
  color: white;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.principal .contenedor__editar div form input:focus {
  outline: none;
}
.principal .contenedor__editar div button {
  background-color: rgb(79, 165, 165);
  height: 5rem;
  width: 10rem;
  padding: 0.5rem;
  border-radius: 1rem;
  border: none;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  color: white;
}
.principal .contenedor__editar div button:hover {
  cursor: pointer;
  background-color: #00a6d8;
  color: black;
}

.lista__clases {
  width: 100%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.lista__clases .lista__clases--ul {
  margin-top: 3rem;
  height: 47rem;
  width: 80%;
  background-color: #00a6d8;
  border-radius: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
}
.lista__clases .lista__clases--ul .clase__individual {
  border-bottom: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 4rem;
  padding: 1.5rem 0;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.lista__clases .lista__clases--ul .clase__individual:hover {
  background-color: #0065d8;
  height: 5rem;
}
.lista__clases .lista__clases--ul .clase__individual .h2NoHay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  font-style: italic;
}
.lista__clases .lista__clases--ul .clase__individual .boton__invisible {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.lista__clases .lista__clases--ul .clase__individual .boton__invisible:hover {
  cursor: pointer;
}
.lista__clases .lista__clases--ul .clase__individual .boton__invisible h2 {
  font-size: 1.5rem;
  color: black;
  font-weight: 500;
  margin-left: 5rem;
}
.lista__clases .lista__clases--ul .clase__individual .boton__invisible p {
  font-size: 1.5em;
  color: black;
  font-weight: 500;
  margin-right: 4rem;
}
.lista__clases .lista__clases--ul::-webkit-scrollbar-thumb {
  background-color: #0065d8;
  border-radius: 1rem;
}
.lista__clases .lista__clases--ul::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #00a6d8;
  border-radius: 1rem;
}
.lista__clases .lista__clases--ul::-webkit-scrollbar-track {
  background-color: #00a6d8;
  border-radius: 5rem;
}