@media screen and (max-width: 1300px) {

    header {
        nav {
            .navbar {
                width: 70%;
            }
        }
    }
    .principal {
        .contenedor__inicio {
            img {
                width: 25rem;
            }

            .contenedor__botones {
                padding-top: 3rem;
            }

        }
        .contanedor__form {
            .formulario__clase {
                width: 70%;
                height: 30rem;
                padding: 3rem;

                .formulario__clase--contenedor {
                    .formulario__clase--label {
                        font-size: 1.5rem;
                    }
                }

                .formulario__clase--contBoton {
                    button {
                        width: 8rem;
                        padding: .3rem;
                        font-size: .8rem;
                    }
                }
            }

        }
        .contenedor__alumno {
            height: auto;
            button {
                width: 8rem;
                height: 4rem;
            }
            .formulario__alumno {
                width: 40rem;
                height: auto;
                padding: 4rem 2rem;
                .contenedor__alumno--div {
                    .datos__nombre {

                        label {
                            color: #ffffff;
                            font-size: 1.2rem;
                        }

                        input {
                            width: 10rem;
                        }
                    }

                    .datos__notas {
                        margin-bottom: 5rem;
                        width: 100%;
                        justify-content: space-around;
                        align-items: center;

                        div {
                            padding: 2rem 0;

                            label {
                                font-size: 1.2rem;
                            }

                            input {
                                width: 10rem;
                                height: 2rem;
                            }

                        }


                    }
                }
            }
        }

        .contenedor__final {
            div {
                width: 40rem;
                height: 30rem;
                padding: 3rem;
            }
        }

        .contenedor__editar {
            div {
                width: 40rem;
                height: 30rem;
                padding: 3rem;
                h2 {
                    font-size: 2.5rem;
                    padding-bottom: 5rem;
                }
                form {
                    width: 100;
                    label {
                        color: #ffffff;
                        font-size: 1.2rem;
                        font-weight: 500;
                    }
                }
                button {
                    height: 4rem;
                    width: 8rem;
                    padding: .5rem;
                }
            }
        }
    }
    .ordenamiento__lista{
        .botones__clase,.botones__alumno{
            height: 100%;
            display: flex;
            flex-direction: column;
            h3{
                font-size: 1.2rem;
                font-weight: 500;
                margin-bottom: 1rem;
            }
        }
        .botones__clase{
            padding-left: 5rem;
            width: 40%; 
        }
    
        .botones__alumno{
            width: 50%;
            padding-right: 4rem;
            div{
                button{
                    font-size: .6rem;
                    padding: 0;
                }
            }
            
        }
    }

    .lista__clases{
        .lista__clases--ul{
            width: 90%;
            .clase__individual{
                .boton__invisible{
                    .indentificador__items{
                        
                        font-size: 1rem;
                        
                    }
                    .alumno__individual{
                            font-size: 1rem;
                        }
                }
            }

            .alumno{
                font-size: 1rem;
            }
            .sin__clase{
                width: auto;
                height: 100%;
                padding: 0 2rem ;
                text-align: center;
            }
        }
    
    }
}