.lista__clases{
    .lista__clases--ul{
            .sin__clase{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 2rem;
                font-weight: 500;
            }
            .indentificador__items{
                width: 100%;
                background-color: #00a6d8;
                margin-top: 1rem ;
                padding: 1rem 0;
                height: 3rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 1.2rem;
                border-top: 1px black solid;
                border-bottom: 1px black solid;
                text-align: center;
                .nombre{
                    margin-left: 3rem;
                    
                }
                .condicion{
                    margin-right: 3rem;
                    
                }
            }
            
            
            .alumno{
                    width: 100%;
                    height: 3rem;
                    padding: 1rem 0;
                    border-bottom: 1px solid black;
                    display: flex;
                    font-size: 1.2rem;
                    .contenedor__borrador{
                        width: 100%;
                        height: auto;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .nombre{
                            margin-left: 3rem;
                            
                        }
                        .condicion{
                            margin-right: 3rem;
                        }
                    }
                    transition: .5s all;
                    &:hover{
                        padding: 2rem 0;
                    }
                }
            .indentificador__items span, .alumno .contenedor__borrador span {
                display: inline-block;
                width: 8.5rem; 
                text-align: center;
                height: 2rem; 
                line-height: 2rem; 
            }
            
        
    }
    .lista__clases--ul::-webkit-scrollbar-thumb{
        background-color: #0065d8;
        border-radius: 1rem;
    }
    .lista__clases--ul::-webkit-scrollbar{
        width: 0.5rem;
        background-color: #00a6d8;
        border-radius: 1rem;
    }
    .lista__clases--ul::-webkit-scrollbar-track{
        background-color: #00a6d8;
        border-radius: 5rem;
    }
}