.lista__clases{
    width: 100%;
    height: 90vh;

    display: flex;
    justify-content: center;

    .lista__clases--ul{
        margin-top: 3rem;
        height: 40rem;
        width: 80%;
        background-color: #00a6d8;
        border-radius: 3rem;
        display: flex;
        flex-direction: column;
        list-style: none;
        align-items: center;
        overflow-x: hidden;
        .clase__individual{
            border-bottom: 1px solid black;
            display: flex;
            width: 100%;
            height: 4rem;

            
            padding: 1rem 0;
            transition: .5s all;
            &:hover{
                background-color: #0065d8;
                height: 5rem;
                
            }
            .boton__invisible{
                width: 100%;
                height: 100%;
                background-color: transparent;
                border: none;
                display: flex;
                justify-content: space-between;
                align-items: center;
                transition: .5s all;
                &:hover{
                    cursor: pointer;
                }

                
                .h2NoHay{
                    width: 100%;
                    text-align: center;
                    font-weight: 500;
                    font-size: 1.5rem;
                    font-style: italic;
                }
                h2{
                    font-size: 1.5rem;
                    color: black;
                    font-weight: 500;
                    margin-left: 5rem;
                }
                p{
                    font-size: 1.5em;
                    color: black;
                    font-weight: 500;
                    margin-right: 4rem;
                }
            }
        }
    }
}